/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--            Main Layout            --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

body {
  background: #0a2a45 url("images/blue/bg2.jpg") no-repeat center top;
}
.homebody {
  background: #0a2a45 url("images/blue/bg.jpg") no-repeat center top;
}
.post-wrap {
  background: url("images/blue/posts-bottom.gif") no-repeat bottom;
}
.post-top {
  height: 7px;
  background: url("images/blue/posts-top.gif") no-repeat;
}
.post-bottom {
  background: url("images/blue/posts-bg.gif") repeat-y;
}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--             Defaults              --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

a {color: #909090;}
a:hover {color: #333;}

h1 {color: #535353;}
h2 {color: #535353; font-size: 20px;}
p { color: #909090; line-height: 19px;}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--       Banner(Topbars,Logo)        --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.logo span {
  color: #598dba;
}
.logo a {
  color: #fff;
}
ul.dropdown-pages {
  background: url("images/blue/topbar-bg.gif") repeat-x;
}
.pages-left {
  background: url("images/blue/topbar-left.gif") no-repeat;
}
.pages-right {
  background: url("images/blue/topbar-right.gif") no-repeat;
}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--             Showcase              --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.featured {
  background: url("images/blue/showcase.gif") no-repeat;
}
.cornerfix-top {
  background: url("images/blue/cornerfix-top.png") no-repeat;
}
.cornerfix-bottom {
  background: url("images/blue/cornerfix-bottom.png") no-repeat;
}
.showcaseteaser {
  background: url("images/blue/teaser.gif") no-repeat;
}
.showcaseteaserhover {
  background: url("images/blue/teaserhover.gif") no-repeat;
}


/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--              Post                 --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.entry-content {
  color: #999;
}
.post .borderimg img {
  background: #ebebeb;
}
.entry-title {
  color: #164872;
}
.entry-title a, .entry-title a, .entry-title a {
  color: #164872;
}
.meta {
  color: #aeaeae;
}
.meta a {
  color: #87b9e3;
}
.meta a:hover {
  color: ;
}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--           Home Page               --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.homepage-top {
  background: url("images/blue/index-top.gif") no-repeat;
}
.homepage-bottom {
  background: url("images/blue/index-bottom.gif") no-repeat bottom;
}
.homepage {
  background: url("images/blue/index-bg.gif") repeat-y;
}
.homepage .entry-content {
  color: #999;
}

.homepage-spacer {
  background: url("images/blue/spacer.gif") no-repeat;
}
.homepage .borderimg img {
  background: url("images/blue/index-img.gif") no-repeat;
}
.homepage .entry-title a {
  color: #828282;
}
.showcase-buttons .entry-title a {
  color: #828282;
}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--              Sidebar              --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.widget-top {
  background: url("images/blue/widget-top.gif") no-repeat;
}
.widget-bottom {
  background: url("images/blue/widget-bottom.gif") no-repeat;
}
.widgettitle {
  color: #828282;
  background: url("images/blue/widget-title.gif") no-repeat;
}
.widget ul{
  background: url("images/blue/widget-bg.gif") repeat-y;
}
.widget div {
  background: url("images/blue/widget-bg.gif") repeat-y;
}
.widget li {
  color: ;
  background: url("images/blue/list-item.gif") no-repeat 15px 12px;
}
.widget li a {
  color: ;
}
.widget li a:hover {
  color: ;
}
.widget_tag_cloud a:hover {
  background: ;
}
#searchform #s {
  background: url("images/blue/searchbar.gif") no-repeat;
}
#searchform #searchsubmit {
  background: url("images/blue/searchbutton.gif") no-repeat;
}


/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--       Comments and Gravatar       --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/


h2.singleheaders {
  color: #828282;
}


/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--           Comment Form            --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/


.submit-button #submit {
 
}


/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--             Elements              --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.entry-content h1 {color: #828282;}
.entry-content h2 {color: #828282;}
.entry-content h3 {color: #828282;}
.entry-content h4 {color: #828282;}
.entry-content h5 {color: #828282;}
.entry-content h6 {color: #828282;}
.entry-content p {color: #999;}



/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/
/*--               Footer              --*/
/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.footer {
  color: #909090;
  background: url("images/blue/footer.gif") no-repeat;
}
.footer a {
  color: #909090;
}
.footer a:hover {
  color: #333;
}
.dropdown-pages li:hover ul,
.dropdown-pages li.sfHover ul {
	border-bottom:	3px solid #dadada;
	background:		#fff url("images/blue/droptop.gif") no-repeat top;
}
.dropdown-pages a  {
	color:			#909090;
}
.dropdown-pages a:hover  {
	color:			#333;
}
.dropdown-pages li li a {
	border-left:	none;
	border-right:	none;
}
.dropdown-pages li li a:hover {
	color:          #444;
	background:		#f1f1f1;
}
.sf-sub-indicator {
	background:		url('images/blue/list-item.gif') no-repeat; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {
	background: 	url('images/blue/droparrow.gif') no-repeat; /* use translucent arrow for modern browsers*/
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background: url('images/blue/droparrow.gif') no-repeat; /* arrow hovers for modern browsers*/
}
.dropdown-pages ul .sf-sub-indicator { background:  url('images/blue/list-item.gif') no-repeat; }
.dropdown-pages ul a > .sf-sub-indicator { background: url('images/blue/list-item.gif') no-repeat; }