<div id="content" class="color_home">
	<div class="clear"></div>
		
	<div id="whole" class="content_area">
		<div class="box_title">About Us</div>
		<p>Family Tyes is a 501(c)(3) Non-Profit Organization that uses a student’s interest in Fly Fishing to create strong family relationships and to help children become positive, productive adults. Family Tyes brings the family, school, community, industry, government, and volunteer mentors together to instill in students the qualities necessary for proper growth and development.
<br/>
<br/>

		The club began in 1979 with one week of fly tying classes and a day trip in May to Fisherman’s Paradise in central Pennsylvania with seven students; now, however, it has become a regional program. Family Tyes’ fishing curriculum is also an integral part of school’s physical education programs in five eastern states. Furthermore, the club program teaches rod building and fly tying in three states, as well as organizing an extensive trip schedule that culminates in a trip to Montana at the end of each summer.
		<br/>
		<br/>

		The club impacted the lives of those first seven students and now influences thousands annually to choose careers in conservation and the outdoor industry as well as helping them to understand their role as environmental stewards. Our student business program has students networking the Family Tyes program, from the National Fly and Tackle Dealers Show in Denver, CO, to working with congressional representatives in Washington D.C. The Business outreach program has students working with today’s youth and families to fulfill our motto of “Learn, Teach, Share and Pass it on”.
		<br/>

		<br/>

		If you have an interest in joining us to expand this into a National Program or want to begin a school or club program in your area click to our Join our Cause section or our Contact Page for further information. If you are interested in becoming a mentor, or if you represent a business and can support our program with materials, equipment, or other support in kind please contact us through the contact page.
		<br /><br />
		</p>
	</div>
	
						
	<div class="clear"></div>
</div>