<div id="content" class="color_home">
	<div class="clear"></div>

	<div id="whole" class="content_area">
		<div class="box_title">FAQs</div><br />
		<p>Here are some Frequently Asked Questions and their Answers:
			<br /><br /></p>
			<div>
				<strong>Introduction</strong><br /><br />
				<b>Who is our client?</b><br />
				<%= link_to'Information about Family Tyes', "/home/about"%><br /><br />
				<b>Who are we?</b><br />
				Information about us and our roles:<br />
				<br />
				Professor Larry Heimann, Information Systems Advisor<br />
				Christine Lin, Project Manager<br />
				Aditya Jeet, Client Advocate<br />
				Ryan Buckheit, Technical Lead<br />
				Stephen Marin, Quality Assurance Manager<br />
				Denise Teo, Design Lead<br />
				<br />


				<strong>Basic functionality</strong><br /><br />
				<b>How do I Login?</b><br />
				1) Click the 'login' button on the top right of the page<br />
				2) Enter your username and password<br />
				3) Click the 'Log in' button<br /><br />


				<b>For Users:</b><br /><br/>
				<b>How do I update my Account Information?</b><br />
				1) Login with your username and password<br />
				2) Click on the 'ORGANIZATIONS' button on the header<br />
				3) Click the 'FILL OUT PROFILE' button on the Quick Links box<br />
				4) Enter the required details<br />
				5) Click the 'Update' Button at the bottom of the page, once all the details have been entered, to Save the changes<br /><br />


				<b>For Admins:</b><br /><br/>
				<b>How do I Create an Event?</b><br />
				1) Click on the 'EVENTS' button on the header<br />
				2) Click the 'CREATE NEW' button on the Quick Links box<br />
				3) Enter the required details<br />
				4) Click the 'Create Event' Button at the bottom of the page, once all the details have been entered<br /><br />

				<b>How do I Create a Checkpoint?</b><br />
				1) Click on the 'CHECKPOINTS' button on the header<br />
				2) Click the first 'CREATE NEW' button on the Quick Links box<br />
				3) Enter the required details, including the Organizations for which the Checkpoint is being created<br />
				4) Click the 'Create Checkpoint' Button at the bottom of the page, once all the details have been entered<br /><br />

				<b>How do I Create a Measurement?</b><br />
				1) Click on the 'CHECKPOINTS' button on the header<br />
				2) Click the second 'CREATE NEW' button on the Quick Links box<br />
				3) Enter the required details, including the Measurement Category this Measurement will belong to<br />
				4) Click the 'Create Measurement' Button at the bottom of the page, once all the details have been entered<br /><br />

				<b>How do I Create a new Participant?</b><br />
				1) Click on the 'ORGANIZATIONS' button on the header<br />
				2) Click the first 'CREATE NEW' button on the Quick Links box<br />
				3) Enter the required details, including the Organization that this Participant belongs to<br />
				4) Click the 'Create User Account' Button at the bottom of the page, once all the details have been entered<br /><br />

				<b>How do I Create a new Organization?</b><br />
				1) Click on the 'ORGANIZATIONS' button on the header<br />
				2) Click the second 'CREATE NEW' button on the Quick Links box<br />
				3) Enter the required details<br />
				4) Click the 'Create' Button at the bottom of the page, once all the details have been entered<br /><br />

			
			</div>
		</div>


		<div class="clear"></div>
	</div>