<div id="content" class="color_home">
	<div class="clear"></div>
		
	<div id="whole" class="content_area">
		<div class="box_title">Privacy Policy</div>
		<p>	 
			<h1>Our Commitment To Privacy:</h1>
			Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested. <br />
		</p>
		<br />
		<p>
			<h1> The Information We Collect:</h1>

			This notice applies to all information collected or submitted on the CMInsider website. The types of personal information collected are: 

			Name, Email address, Age, Race, Address
		</p>
		<br />
		<p>
			<h1>The Way We Use Information:</h1>

			We use the information you provide about yourself internally only. We do not share this information with outside parties. We never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses. <br />
		</p>
		<br />
		<p>
			<h1>Our Commitment To Data Security:</h1>

			To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. <br />

			<h5>How You Can Access Or Correct Your Information:</h5>

			You can access all your personally identifiable information that we collect online and maintain by accessing your account and correcting it there. We use this procedure to better safeguard your information. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections. <br />
		</p>
		<br />
		<p>
			<h1>How To Contact Us:</h1>

			Should you have other questions or concerns about these privacy policies, please contact us at <a href="http://familytyes.org/archives/401">Family Tyes</a>.
		</p>
			
	</div>						
	<div class="clear"></div>	
</div>
